.roundedsavebutton-button {
  display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 250px;
	height: 40px;
	font-size: 0.75em;
	border-radius: 25px;
  border: none;
  margin-top: 15px;
	cursor: pointer;
	font-weight: bold;
	background-color: #ff1744;
	outline: none;
}

.roundedsavebutton-button::selection {
	background-color: transparent;
}

.roundedsavebutton-button::-moz-selection {
	background-color: transparent;
}