.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
}

h1 {
  font-size: calc(100% + 2vw);
  padding-bottom: 0;
  margin-bottom: 30px;
}

header {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@-webkit-keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}
