body {
  margin: 0;
  padding: 0;
  padding-left: 3%;
  padding-right: 3%;
  font-family: 'Quicksand', sans-serif;
  background-color: #fafafa;
  color: #000930;

  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
}

@-webkit-keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-moz-keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-ms-keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-o-keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

::selection {
  background: #ff1744;
}

::-moz-selection {
  background: #ff1744;
}